* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif, Arial;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px
}

.container-header-flex {
    display: flex;
    flex-direction: column;
}

.area-label {
    text-align: center;
    align-items: center;
}

.area-input {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    width: 95vw;
    max-width: 600px;
}

.area-input input {
    flex-grow: 1;
    height: 30px;
    min-width: 100px;
    padding-left: 5px
}

#qrText::placeholder {
    padding-left: 5px;
}

#prefixSelect {
    height: 34px;
    flex-shrink: 0;
}

.generateBtn {
    height: 34px;
    padding-inline: 5px;
    flex-shrink: 0;
}

.btn-remove {
    border-radius: 3px;
    width: 34px;
    border: 1px solid black;
}

.toggle-input {
    display: none;
}

.switcher-size{
    display: none;
}

/* Estilo inicial do botão */
.sizeqr {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* padding-inline: 5px; */
    /* font-size: 16px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    width: 13rem;
}

.toggle-input:checked+.switcher-sizeqr .sizeqr .size-sqr {
    background-color: #f0f0f0;
    color: black;
}

.toggle-input:not(:checked)+.switcher-sizeqr .sizeqr .size-sqr {
    background-color: #007BFF;
    color: white;
}

.toggle-input:checked+.switcher-sizeqr .sizeqr .size-rect {
    background-color: #007BFF;
    color: white;
}

/* Estilo dos spans */
.size-sqr,
.size-rect {
    height: 100%;
    padding-inline: 1rem;
    height: 34px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.imageUpload {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    padding-block: 5px;
    box-sizing: border-box;
    margin: 0;
}

.imageUpload-input {
    height: 34px;
    width: 60px;
}

.imageUpload-input::before {
    display: block;
    content: "Logo:";
    position: absolute;
    width: 100%;

    background: #007bff;
    color: #ffff;
    border-radius: 3px;

    text-align: center;
    line-height: 34px;
    padding-inline: 5px;
    cursor: pointer;

    width: 50px;
}

.imageUpload p {
    text-align: center;
    align-items: center;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: calc(100vw - 125px);
}

.container-qr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#qrcode {
    width: 350px;
    height: 350px;
}

#downloadBtn {
    padding-top: 5px;
    display: none;
    gap: 3px;
    flex-direction: row;
    flex-wrap: nowrap;
}

#downloadBtn button {
    width: 110px;
    max-width: calc(30% * 100vw);
    height: 50px;
    border: 1px solid black;
    background-color: #e5e5e5e5;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#downloadBtn button:hover {
    background-color: #8eb672;
}