*{
    margin: 0;
    padding: 0;
    font-family: Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif, Arial;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px
}

.area-label{
    text-align: center;
}

#urlInput{
    width: 346px;
    height: 30px;
    margin-left: 0 5px 5px 0;
}

#urlInput::placeholder{
    padding-left: 10px;
}

#generateBtn{
    height: 34px;
    padding-inline: 5px;
    margin-top: 5px;
}

.container-qr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
}

#qrcode{
    width: 350px;
    height: 350px;
}

#downloadBtn{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: #e5e5e5;
    border-radius: 2px;
    display: none;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;

}